<script type="text/javascript">
function message_alert(node) {
    return alert("Hello,\n\nUnfortunately mailto doesn't work properly in some web browsers like Chrome, so here's my email to copy..\nhoudjedje.ilyes@gmail.com \n\nLooking forward to hearing from you!");
}
</script>



<div class="social-icons">

    {% if site.owner.twitter %}
    <a href="http://twitter.com/{{ site.owner.twitter }}" target="_blank">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
    </a>
    {% endif %}
    {% if site.owner.google_plus %}
    <a href="{{ site.owner.google_plus }}" target="_blank">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
    </a>
    {% endif %}
    {% if site.owner.stackoverflow %}
    <a href="https://stackoverflow.com/users/7784580/{{ site.owner.stackoverflow }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-stack-overflow fa-stack-1x"></i>
        </span>
    </a>
    {% endif %}
    {% if site.owner.github %}
    <a href="http://github.com/{{ site.owner.github }}" target="_blank">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-github fa-stack-1x"></i>
        </span>
    </a>
    {% endif %}
    {% if site.owner.facebook %}
    <a href="http://facebook.com/{{ site.owner.facebook }}" target="_blank">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
    </a>
    {% endif %}
    <a href="https://drive.google.com/file/d/0B7hzSdAUtDKCS0lLeFJobGZZNXM/view?usp=sharing" target="_blank">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-file-text fa-stack-1x"></i>
        </span>
    </a>
    <a href="mailto:houdjedje.ilyes@gmail.com?Subject=Hello" target="_top" onclick="return message_alert(this);">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-envelope fa-stack-1x"></i>
        </span>
    </a>
</div>
